<div>
    <adc-button filled label="standard">  
    </adc-button>
</div>

<!-- <div class="tab-container grid-container"
     id="flight-status-tab-panel"
     role="tabpanel">
    <form
        (ngSubmit)="submitForm(inputForm)"
        [formGroup]="inputForm">
        <div class="grid-x grid-margin-x">
            <div class="cell small-12 search-by-container">
                <span class="search-by">{{ translate('flightStatus.searchBy') }}:</span> -->
                <!--        </div>-->
                <!--        <div class="cell small-10">-->
                <!-- <ul class="search-by-type"
                    role="radiogroup">
                    <li class="customComponent"
                        role="presentation">
                        <input checked="checked"
                               id="flight-radio-flight-status"
                               type="radio"
                               value="flight">
                        <label class="pillbox"
                               for="flight-radio-flight-status">
                            <span class="hidden-accessible">Search cities</span>
                            <span aria-hidden="true">{{ translate('flightStatus.cities') }}</span>
                        </label>
                    </li>
                    <li class="customComponent"
                        role="presentation">
                        <input id="round-trip-hotel-flight-status"
                               name="flight"
                               type="radio"
                               value="roundTripHotel">
                        <label class="pillbox"
                               for="round-trip-hotel-flight-status">
                            <span class="hidden-accessible">Search flight number</span>
                            <span aria-hidden="true">{{ translate('flightStatus.flightNumber') }}</span>
                        </label>
                    </li>
                </ul>
            </div>
            <div class="cell small-12 medium-4">
                <div class="form-field-container">
                    <input ailInput
                           controlName="originAirport"
                           id="reservationFlightSearchForm.originAirport"
                           placeholder="City or airport"
                           value=""/>{{ translate('booking.from') }}
                </div>
            </div>
            <div class="cell small-12 medium-4">
                <div class="form-field-container">
                    <input ailInput
                           controlName="toAirport"
                           id="reservationFlightSearchForm.destinationAirport"
                           placeholder="City or airport"
                           value=""/>{{ translate('booking.to') }}
                </div>
            </div>
            <div class="cell small-12 medium-4">
                <div class="form-field-container">
                    <select ailInput
                            controlName="departureDate"
                            id="depart-date-flight-status"
                            value="">
                        <option>{{ translate('flightStatus.wn4') }}</option>
                        <option>{{ translate('flightStatus.tn5') }}</option>
                        <option>{{ translate('flightStatus.fn6') }}</option>
                        {{ translate('flightStatus.date') }}
                    </select>
                </div>
            </div>
            <div class="cell small-12 medium-4 medium-offset-8 text-right margin-2">
                <button ail-primary-button
                        class="button primary expanded"
                        id="button2"
                        name="button2"
                        type="submit">
                    {{ translate('booking.search') }}
                </button>
            </div>
            <div class="cell small-12">
                <a class="create-notification-link call-to-action"
                   href="https://www.aa.com/travelInformation/flights/schedule">
                    {{ translate('flightStatus.createStatusNotification') }}
                </a>
            </div>
        </div>
    </form>
</div> -->
