@import "~@aileron/ui/scss/settings/color-palette";
@import "~@aileron/ui/scss/utils/typography/settings";
@import "~@aileron/ui/scss/utils/mixins/font-text-size";

:host {
    .hero {
        margin: 0 auto;
        overflow: hidden;
        width: 100%;
        max-width: 1100px;
        height: auto;
        max-height: 594px;
    }
}
