<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>AA.com - Homepage - Web Components</title>
    <base href="/">
    <meta content="width=device-width, initial-scale=1"
          name="viewport">
    <link href="assets/images/favicon.png"
          rel="shortcut icon"
          type="image/x-icon">
    <!--    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">-->

</head>
<body>
<hp-root></hp-root>
<!--<hp-booking></hp-booking>-->
<!-- <hp-book></hp-book> -->
<!--<hp-checkin></hp-checkin>-->
<hp-flight-status></hp-flight-status>
<!--<hp-manage-trips></hp-manage-trips>-->
<!--<hp-hero></hp-hero>-->
</body>
</html>

